/*

African Spending Main Stylesheet

Overides:
	> css/bootstrap.css
	> css/bootstrap.min.css
	
Imports:
	

Company:
	Name: Open Institute
	URL: http://www.openinstitute.com

Author:
	Name: David Lemayian
	URL: http://www.davidlemayian.com
	Twitter: @DavidLemayian

*/

/* Default Tags */

a {
	color: #3A87AD;
	text-decoration: none;
}

/* Navigation bar & Header */

#social-nav{
	font-weight:bold;
	font-size:20px;
}
	#social-nav #mob{
		display:inline-block;
		font-size:12px;
	}

/* Main Layout */

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	color: white;
	background-color: #3A87AD;
}

#afrokart_1{
	height: 500px;
}

#countryMap{
	width:100%;
	height:300px;
	margin-bottom: 15px;
	border-radius: 4px;
	border: 1px solid #E3E3E3;
}

/* Responsive - Tablets and Desktops */
@media (min-width: 980px){
	#afrokart_1{
		background: rgb(245,245,245) url('/img/logo_31.png') no-repeat center left;
		height: 500px;
	}
}