/*

Bootstrap Overides

Author: David Lemayian [http://www.davidlemayian.com]
Company: Open Institute [http://www.openinstitute.com]

*/
@media (min-width: 980px){
	#afrokart_1{
		background: rgb(245,245,245) url('/img/logo_31.png') no-repeat center left;
		height: 500px;
	}
}

#afrokart_1{
	height: 500px;
}

a {
	color: #3A87AD;
	text-decoration: none;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	color: white;
	background-color: #3A87AD;
}