/*

Bootstrap Overides

Author: David Lemayian [http://www.davidlemayian.com]
Company: Open Institute [http://www.openinstitute.com]

*/

.navbar {
	z-index: 5 !important;
}

button.close {
	padding: 0;
	cursor: pointer;
	background: 
	transparent;
	border: 0;
	-webkit-appearance: none;
}

/* Front page */

#fp-wrap {
	position:relative;
}

#fp-blurb {
	position: absolute;
	left: 635px;
	top: 0;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	margin: 50px 10px 10px;
	min-height: 200px;
	color: #333;
}

#fp-blurb #fp-claim {
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 44px;
  line-height: 1.3em;
}

#fp-blurb p {
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
  margin-top: 1em;
  font-size: 14px;
	line-height: 1.6em;
}

#fp-map {
	width: 100%; height: 320px;
	border-radius: 10px;
	background: #D9EDF7; /* Old browsers */
	background: -moz-linear-gradient(top,  #D9EDF7 0%, #C3DCE8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#C3DCE8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #D9EDF7 0%,#C3DCE8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #D9EDF7 0%,#C3DCE8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #D9EDF7 0%,#C3DCE8 100%); /* IE10+ */
	background: linear-gradient(top,  #D9EDF7 0%,#C3DCE8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#C3DCE8',GradientType=0 ); /* IE6-9 */	
}

#fp-map svg path.regions {
	stroke: #fff;
	stroke-width: 0.3px;
}

#fp-map svg path.regions:hover {
	fill: #c00;
	cursor: pointer;
}

#fp-map svg path.bg {
	/*
  stroke: #d3d0d0;
	fill: #d3d0d0;
  */
  stroke: #fff;
  fill: #fff; 
	opacity: 1;
}

#dailybread{
	font-size:100%;
}
	.db-area-value{
		padding-top:5px;
	}	